@font-face {
    font-family: 'sigmarregular';
    src: font_url('sigmarone-webfont.woff2') format('woff2'),
         font_url('sigmarone-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
